// Colors
$x-green: #8DCC95;
$x-white: #F1DED0;
$x-red: #D21938;

.bg-x-green {
    background-color: $x-green;
}

.bg-x-white {
    background-color: $x-white;
}

.bg-x-red {
    background-color: $x-red;
}

